extends layout

block content
  h1= title
  h2= "{{errMessage}}"

  .playArea(ng-if="error != 0")

    .board
      -var row = 0;
      -var column = 0;
      while row < height
        -column = 0;
        while column < width
          div(ng-sortable="config" class="col-#{row}-#{column} height")
            img(class="img-responsive" ng-repeat="card in gameBoard[#{row}][#{column}]" src="{{card.url}}")
          -column++
        .cf
        -row++

